<!DOCTYPE html>
<html lang="en">
{% include 'Dashboard/head.html.twig' %}
<body id="page-top">
<div>
    <div id="wrapper">
        {% include 'Dashboard/sidebar.html.twig' %}
        <div id="content">
            {% include 'Dashboard/navigation.html.twig' %}
            <!-- Begin Page Content -->
            <div class="container-fluid text-center">

                <!-- Page Heading -->
                <div class="mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Animaux</h1>
                </div>

                <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nombre de mâle</div>
                                            <div id="mensPet" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-male fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nombre de femelles</div>
                                            <div id="womensPet" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-female fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nombre total d'animaux</div>
                                            <div id="AllPet" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-check fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

           


                <!-- Content Row -->
                <div class="row">
                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold">Liste d'animaux</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div style="height: auto;" class="chart-area" id="pagination_data">
                                    <div id="pets" class="mb-3"></div>
                                    <button style="text-decoration: none; outline: none" class="rounded-circle border-0 pagination_button" id="sidebarToggle">
                                        <b>1</b>
                                    </button>
                                    <button style="text-decoration: none; outline: none" class="rounded-circle border-0 pagination_button" id="sidebarToggle">
                                        2
                                    </button>
                                    <button style="text-decoration: none; outline: none" class="rounded-circle border-0 pagination_button" id="sidebarToggle">
                                        3
                                    </button>
                                    <button style="text-decoration: none; outline: none" class="rounded-circle border-0 pagination_button" id="sidebarToggle">
                                        4
                                    </button>
                                    <button style="text-decoration: none; outline: none" class="rounded-circle border-0 pagination_button" id="sidebarToggle">
                                        5
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Zoopolis 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
</body>
{% include 'Dashboard/Pets/script.html.twig' %}
</html>