<!DOCTYPE html>
<html lang="en">
    {% include 'Dashboard/Add-user/head.html.twig' %}
    <body id="page-top">
    <div>
        <div id="wrapper">
            {% include 'Dashboard/sidebar.html.twig' %}
            <div id="content">
                {% include 'Dashboard/navigation.html.twig' %}
                {% include 'Dashboard/Add-user/form.html.twig' %}
            </div>
        </div>
    </div>
    </body>
    {% include 'Dashboard/Add-user/script.html.twig' %}
</html>