<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-7 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 style="color: #8b8ac3" class="display-4 py-2 user-after">Ajouter un utilisateur</h1>
                    <div class="px-2 form-wrap">
                        <form class="justify-content-center">
                            <div class="form-group">
                                <label class="sr-only">Firstame</label>
                                <input type="text" class="form-control firstname" placeholder="Firstname">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Lastname</label>
                                <input type="text" class="form-control lastname" placeholder="Lastname">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Email</label>
                                <input type="text" class="form-control email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Password</label>
                                <input type="text" class="form-control password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Street</label>
                                <input type="text" class="form-control address" placeholder="Address">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Zip</label>
                                <input type="text" class="form-control zip" placeholder="Zip">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">City</label>
                                <input type="text" class="form-control city" placeholder="City">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Birthday</label>
                                <input class="form-control birthday" type="date">
                            </div>
                            <div class="form-group">
                                <label for="sr-only">Sexe</label>
                                <select class="form-control sexe">
                                    <option>Homme</option>
                                    <option>Femme</option>
                                </select>
                            </div>
                        </form>
                            <button id="newUser" style="background-color: #8b8ac3; color:white" class="btn btn-lg">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>