<!DOCTYPE html>
<html lang="en">
    {% include 'Dashboard/head.html.twig' %}
    <body id="page-top">
    <div>
        <div id="wrapper">
            {% include 'Dashboard/sidebar.html.twig' %}
            <div id="content">
                {% include 'Dashboard/navigation.html.twig' %}
                <!-- Begin Page Content -->
                <div class="container-fluid text-center">

                    <!-- Page Heading -->
                    <div class="mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Utilisateurs</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div style="color: #8b8ac2" class="text-xs font-weight-bold text-uppercase mb-1">Nombre d'hommes inscrits</div>
                                            <div id="mens" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-male fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div style="color: #8b8ac2" class="text-xs font-weight-bold text-uppercase mb-1">Nombre de femmes inscrites</div>
                                            <div id="womens" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-female fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div style="color: #8b8ac2" class="text-xs font-weight-bold text-uppercase mb-1">Nombre d'utilisateurs actifs aujourd'hui</div>
                                            <div id="all-active" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-check fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>


            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 style="color: #8b8ac2" class="m-0 font-weight-bold">Liste d'utilisateurs</h6>
                        <i id="new-user" style="cursor:pointer;font-size: 25px;color: limegreen" class="fas fa-plus"></i>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div style="height: auto; text-align: center" class="chart-area" id="pagination_data">
                            <div id="users" class="mb-3"></div>
                            <button style="text-decoration: none; outline: none" class="rounded-circle border-0 pagination_button" id="sidebarToggle">
                                 <b>1</b>
                            </button>
                            <button style="text-decoration: none; outline: none" class="rounded-circle border-0 pagination_button" id="sidebarToggle">
                                 2
                            </button>
                            <button style="text-decoration: none; outline: none" class="rounded-circle border-0 pagination_button" id="sidebarToggle">
                                3
                            </button>
                            <button style="text-decoration: none; outline: none" class="rounded-circle border-0 pagination_button" id="sidebarToggle">
                                 4
                            </button>
                            <button style="text-decoration: none; outline: none" class="rounded-circle border-0 pagination_button" id="sidebarToggle">
                                 5
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-12 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 text-center">
                        <h6 style="color: #8b8ac2" class="m-0 font-weight-bold">Utilisateurs par tranche d'âge</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="myPieChart"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            <span class="mr-3">
                              <i class="fas fa-circle text-primary"></i> > 18 ans
                            </span>
                            <span class="mr-3">
                              <i class="fas fa-circle text-success"></i> 18 - 25 ans
                            </span>
                            <span class="mr-3">
                                <i class="fas fa-circle text-info"></i> 26 - 35 ans
                            </span>
                            <span class="mr-3">
                                <i style="color: mediumpurple" class="fas fa-circle"></i> 36 - 50 ans
                            </span>
                            <span class="mr-3">
                                <i style="color: mediumorchid" class="fas fa-circle"></i> > 50 ans
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Zoopolis 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    </body>
    {% include 'Dashboard/Users/script.html.twig' %}
</html>