<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../../js/sb-admin-2.js"></script>
<script src="../vendor/chart.js/Chart.min.js"></script>
<script src="../js/demo/users-chart.js"></script>

<script>
    $(document).ready(function(){
        $.ajax({
            url : '/users/men',
            type: 'GET',
            async: true,
            success: function (data) {
                $('#mens').html(new Intl.NumberFormat().format(parseFloat(data)))
            }
        });
        $.ajax({
            url : '/users/women',
            type: 'GET',
            async: true,
            success: function (data) {
                $('#womens').html(new Intl.NumberFormat().format(parseFloat(data)))
            }
        });
        $.ajax({
            url : '/users/active/all',
            type: 'GET',
            async: true,
            success: function (data) {
                $('#all-active').html(new Intl.NumberFormat().format(parseFloat(data)))
            }
        });
        $.ajax({
            url : '/users/countlist',
            type: 'GET',
            dataType: "json",
            async: true
        }).then(function (value) {
            console.log(value[0].pagination)
        });
        $.ajax({
            url : '/users/list',
            type: 'POST',
            dataType: "json",
            data: JSON.stringify({
                "page": "1"
            }),
            async: true
        }).then(function (value) {
            var mytable = "<table cellpadding=\"0\" cellspacing=\"0\"><tbody><tr><td><b>Firstname</b></td><td><b>Lastname</b></td><td><b>Email</b></td><td><b>Street</b></td><td><b>Zip</b></td><td><b>City</b></td><td><b>Country</b></td><td><b>Birthday</b></td><td><b>Sexe</b></td><td><b>Active</b></td></tr><tr>";
            for(let i = 0; i < value.length; i++){
                mytable += "<tr><td>" + value[i].firstname + "</td><td>" + value[i].lastname + "</td><td>" + value[i].email + "</td><td>" + value[i].street + "</td><td>" + value[i].zip + "</td><td>" + value[i].city + "</td><td>" + value[i].country + "</td><td>" + value[i].birthday + "</td><td>" + value[i].sexe + "</td><td>" + value[i].active + "</td><td><button id='delete-user'><i style=\"color: red; cursor: pointer\" class=\"fas fa-ban\"></button></td></tr>";
            }
            mytable += "</tr></tbody></table>";
            $('#users').html(mytable)
        })
        $(".pagination_button").click(function () {
            let nb_page = parseInt($(this).text().trim());

            if (nb_page <= 1) {
                $(".pagination_button").eq(0).text(1);
                $(".pagination_button").eq(1).text(2);
                $(".pagination_button").eq(2).text(3);
                $(".pagination_button").eq(3).text(nb_page+3);
                $(".pagination_button").eq(4).text(nb_page+4);
            }  else if (nb_page <= 2) {
                $(".pagination_button").eq(0).text(1);
                $(".pagination_button").eq(1).text(2);
                $(".pagination_button").eq(2).text(3);
                $(".pagination_button").eq(3).text(nb_page+2);
                $(".pagination_button").eq(4).text(nb_page+3);
            } else {
                $(".pagination_button").eq(0).text(nb_page-2);
                $(".pagination_button").eq(1).text(nb_page-1);
                $(".pagination_button").eq(2).text(nb_page);
                $(".pagination_button").eq(3).text(nb_page+1);
                $(".pagination_button").eq(4).text(nb_page+2);
            }

            $.ajax({
                url : '/users/list',
                type: 'POST',
                dataType: "json",
                data: JSON.stringify({
                    "page": nb_page
                }),
                async: true
            }).then(function (value) {
                var mytable = "<table cellpadding=\"0\" cellspacing=\"0\"><tbody><tr><td><b>Firstname</b></td><td><b>Lastname</b></td><td><b>Email</b></td><td><b>Street</b></td><td><b>Zip</b></td><td><b>City</b></td><td><b>Country</b></td><td><b>Birthday</b></td><td><b>Sexe</b></td><td><b>Active</b></td></tr><tr>";
                for(let i = 0; i < value.length; i++){
                    mytable += "<tr><td>" + value[i].firstname + "</td><td>" + value[i].lastname + "</td><td>" + value[i].email + "</td><td>" + value[i].street + "</td><td>" + value[i].zip + "</td><td>" + value[i].city + "</td><td>" + value[i].country + "</td><td>" + value[i].birthday + "</td><td>" + value[i].sexe + "</td><td>" + value[i].active + "</td><td><button id='destroy'><i style=\"color: red;\" class=\"fas fa-ban\"></button></td></tr>";
                }
                mytable += "</tr></tbody></table>";
                $('#users').html(mytable)
            })

        })
    });
    $('#new-user').click(function() {
        window.location.href = '/admin/user/form'
    });
</script>