<!DOCTYPE html>
<html lang="en">
    {% include 'LoginPage/head.html.twig' %}
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    {% include 'LoginPage/wrap.html.twig' %}

    {% include 'LoginPage/script.html.twig' %}

</body>
</html>