<!DOCTYPE html>
<html lang="en">

    {% include 'LandingPage/head.html.twig' %}

    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
        {% include 'LandingPage/wrap.html.twig' %}
        {% include 'LandingPage/script.html.twig' %}
    </body>
</html>