<div class="site-wrap">
    <div class="intro-section" id="home-section">
        <!--<div class="slide-1" style="background-image: url('https://cdn.shopify.com/s/files/1/2006/1615/t/2/assets/hero-block-jack-russel-puppy.jpg?12731447821119762224');" data-stellar-background-ratio="0.5">
          -->
        <div class="slide-1" style="background-image: url('https://cdn.shopify.com/s/files/1/2006/1615/t/2/assets/hero-block-jack-russel-puppy.jpg?12731447821119762224');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="col-6 mx-auto text-center">
                            <h1 id="logo" style="color:#272b37; position: relative; left: 100px; bottom: 160px;" data-aos="fade-up" data-aos-delay="100">Zoopolis</h1>
                            <p style="color:#272b37; font-size: 20px; left: 220px; position: relative; bottom: 160px;" data-aos="fade-up" data-aos-delay="200">Vous êtes sur cette page pour pouvoir accéder à votre Dashboard administrateur. N'oubliez pas de récupérer vos identifiants (il vous seront rappelés)</p><br>
                        </div>
                        <div class="row align-items-center">
                            {% include 'LandingPage/createAdmin.html.twig' %}
                            <div class="col-lg-6 ml-auto" data-aos="fade-up" data-aos-delay="500">
                                <form style="position: relative; bottom: 100px;" action="" method="post" class="form-box">
                                    <fieldset disabled="disabled">
                                        <h3 class="h4 text-center text-black mb-4">Vos identifiants seront</h3>
                                        <div class="form-group">
                                            <input type="text" class="form-control" value="admin@zoopolis.com">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" value="Zoopolis2019">
                                        </div>
                                    </fieldset>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div> <!-- .site-wrap -->